alembic==1.7.4
Flask==1.0.2
flask-restplus==0.13.0
marshmallow==3.14.0
marshmallow-enum==1.5.1
SQLAlchemy==1.4.26
werkzeug==0.16.1
flask-login==0.4.1
flask-sqlalchemy==2.5.1
flask-principal==0.4.0
flask-migrate==3.1.0
flask-testing==0.8.1
dacite==1.6.0